doctype html
html(lang='en')
  head
    meta(charset='utf-8')
    title MortalKombat
    link(rel='stylesheet', href='./css/buttons.css')
    link(rel='stylesheet', href='./css/app.css')
  body
    header
      h1 MortalKombat

    #controls
      select#species
        option Dragon
        option Alien
        option Predator
        option Ninja
      select#gender
        option Male
        option Female
      select#weapon
        option Poison
        option Fire
        option Arrow
        option Axe
      input#name(type='text', placeholder='Name')
      input#age(type='text', placeholder='Age')
      input#photo(type='text', placeholder='Photo')
      button#add Add
    #creatures
      #dragons
      #aliens
      #predators
      #ninjas

    script(src='./js/vendor/traceur.js')
    script(src='./js/vendor/experimental.js')
    script(src='./js/vendor/jquery-2.1.0.js')
    script(src='./js/vendor/lodash-2.4.1.js')
    script(src='./js/vendor/moment-2.6.0.js')
    script(src='./js/es6/utility.js')
    script(src='./js/es6/dragon.js')
    script(src='./js/es6/alien.js')
    script(src='./js/es6/predator.js')
    script(src='./js/es6/ninja.js')
    script(src='./js/es6/main.js')
